.clear.vertical_spacer
.comment_details
  .name
    Re:
    = link_to comment.discussion.name, discussion_path(comment.discussion.id, anchor: comment.id)
  .avatar{title: comment.creator.name}
    = user_avatar_link_unless_private(comment.creator)
  .comment_preview
    .author
      by
      = user_link_unless_private(comment.creator)
    .category
      in
      = link_to comment.discussion.category.name, category_path(comment.discussion.category.id)
    .date
      = date_disp(comment.created)
    .comments_nippit
      = format_post(comment.format, comment.body, 350)
.clear.vertical_spacer