.search_form
  = form_tag search_index_path, method: 'get', role: 'search' do
    = text_field_tag :s, params[:s], autocomplete: 'off', title: 'Search archive', placeholder: 'Search archive'

- unless params[:s].blank?
  - if @users.empty? && @results.empty?
    %p
      No results for <strong>#{params[:s]}</strong>.
  - else
    - if !@users.empty?
      %h2
        #{pluralize @users.size, 'user'} like '#{params[:s]}'
      %ol.search_results
        - @users.each do |user|
          %li
            = render partial: 'user', locals: { user: user }
    - if !@results.empty?
      %h2
        #{pluralize @results.size, 'post'} containing '#{params[:s]}'
      %ol.search_results
        - @results.each do |result|
          %li
            - if result.is_a?(Discussion)
              = render partial: 'discussion', locals: { discussion: result }
            - elsif result.is_a?(Comment)
              - result.discussion or next
              = render partial: 'comment', locals: { comment: result }